<div class="footer">
  <div class="main">
    <div class="items">
      <div class="column1">
        <div class="item">
          <h2>
            <span class="texth">T</span>echnology
            <span class="texth">S</span>olution <span class="texth">N</span>epal
          </h2>
          <p>Biratnagar</p>
          <p>Morang, Nepal</p>
          <p><b>Phone:</b> +977 9842565558</p>
          <p><b>Email:</b> techsolutionbrt@gmail.com</p>
        </div>

        <div class="item">
          <h3>Useful Links</h3>
          <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Products</li>
          </ul>
        </div>
      </div>

      <div class="column2">
        <div class="item">
          <h3>Our Services</h3>
          <ul>
            <li>System Design & Development</li>
            <li>Web Development</li>
            <li>Mobile App Development & Design</li>
            <li>Municipal ERP</li>
          </ul>
        </div>

        <div class="item">
          <h3>Our Social Networks</h3>
          <p>You can directly reach us through our social media handles.</p>
          <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
          <img
            src="https://img.icons8.com/cute-clipart/48/000000/twitter.png"
          />
          <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <p class="left">
    <span> &#169;</span> Techonology Solution Nepal Pvt.Ltd. All Rights Reserved
  </p>
  <p class="right">
    Designed & Developed by <Span>Technology Solution Nepal</Span>
  </p>
</div>
