<div class="products" id="product" [class.productscroll]="productcheck">
  <div class="section-title">Our Pro<span>d</span>ucts</div>

  <div class="productitems">
    <div class="items">
      <img src="../../../assets/images/product1.JPG" alt="" />
      <div class="info">
        <h2>RMS</h2>
        <h4>Web based Revenue Mangement System</h4>
      </div>
    </div>
    <div class="items">
      <img src="../../../assets/images/product2.JPG" alt="" />
      <div class="info">
        <h2>PIS</h2>
        <h4>Web based Personal Information & Payrool System</h4>
      </div>
    </div>
    <div class="items">
      <img src="../../../assets/images/product3.JPG" alt="" />
      <div class="info">
        <h2>LGP</h2>
        <h4>Web based Planning Management System</h4>
      </div>
    </div>
    <div class="items">
      <img src="../../../assets/images/product4.JPG" alt="" />
      <div class="info">
        <h2>Inventory</h2>
        <h4>Web based Assets & Inventory Management System</h4>
      </div>
    </div>
  </div>
</div>
