<section id="home">
  <div class="main container">
    <div class="text">
      <p class="message">
        <span [ngStyle]="{ fontSize: '3.5rem' }">T</span>echnology<br>
        <span [ngStyle]="{ fontSize: '3.5rem' }">S</span>olution
        <span [ngStyle]="{ fontSize: '3.5rem' }">N</span>epal
      </p>

      <p class="details">
        We work across a multitude of different private and government sectors,
        we are the information people, here to make your data work for you.
      </p>

      <a href="#service">
        <button class="servicebtn">Our Services</button>
      </a>
    </div>
    <div class="right container">
      <img
        class="laptop"
        src="../../../assets/images/Laptop.png"
        alt="laptop"
        width="500px"
        height="300px"
      />
      <img
        class="web"
        src="https://img.icons8.com/dusk/64/000000/globe--v1.png"
        alt="web"
      />
      <img
        class="android"
        src="https://img.icons8.com/color/64/000000/android-os.png"
        alt="android"
      />
      <img
        class="ios"
        src="https://img.icons8.com/nolan/64/ios-logo.png"
        alt="ios"
      />
      <img
        class="windows"
        src="https://img.icons8.com/color/64/000000/windows-client.png"
        alt="windows"
      />
    </div>
  </div>
</section>
